/*
Theme Name: Cuisine de Jean , based on Sela Child
Theme URI: https://wordpress.com/themes/sela/
Template: sela
Author: Christian Zumbrunnen
Author URI: https://wordpress.com/themes/
Description: The Cuisine de Jean Theme is adopted to client wishes but based on the nice Sela theme from Automattic. Main changes:
- the header image is below the actual header
- using of site logo and/or title/sub-title above the header image
- 3 columns instead of 2 for grid-templates
- featured image is not shown on single pages

Sela is not your typical business theme. Vibrant, bold, and clean, with lots of space for large images, this theme will look great on all devices, from desktop to mobile.
Tags: gray,pink,white,light,two-columns,right-sidebar,custom-colors,responsive-layout,custom-background,custom-menu,featured-images,full-width-template,microformats,rtl-language-support,sticky-post,translation-ready
Version: 1.0.12.1461787169
Updated: 2016-04-28 00:19:29

*/

@media screen and (min-width: 1180px) {
.page-template-grid-page .content-wrapper.full-width {
margin: 0;
}
.child-page {
width: 275px;
padding-left: 50px;
}
.child-page {
margin-right: 0 !important;
padding-right: 35px;
}
.child-page:nth-child(4n) {
clear: both;
}
.entry-thumbnail {
    min-height: 80px;
}
}

@media screen and (min-width: 850px) {
	/* Full-Width Page Template */
	.content-wrapper.full-width.with-featured-image {
		margin: 0;
	}
}

@media screen and (min-width: 998px) {
	/* Full-Width Page Template */
	.content-wrapper.full-width.with-featured-image {
		margin: 0;
	}
}

@media screen and (min-width: 1180px) {

	.post-thumbnail + .entry-header {
		margin: 0 0 1em 110px;
	}
}

.no-background {
	background: #fff;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	height: 100%;
	min-height: 36px;
	padding: 1.5em 0 18px;
	text-align: center;
}

.main-navigation {
	background-color: #fb8102;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
	color: #fff;
	display: block;
	padding: 0 1em;
}

.main-navigation .menu > li > a:after {
		color: #fff;
		content: " \2022";
		margin-left: 1em;
	}

a {
    color: #ec8230;
}
.footer-widget-area a:hover {
    color: #ec8230;
}
.site-branding {
    background-image: none;
}
.entry-title a:hover {
    color: #ec8230;
}
.comment-meta a {
    color: #fb8102;
}
.jetpack-testimonial .entry-title, .jetpack-testimonial-shortcode .testimonial-entry-title {
    color: #fb8102;
}
.site-info a:hover {
    color: #fb8102;
}
@media screen and (min-width: 768px) {
.main-navigation ul ul a:hover, .main-navigation ul ul > li.focus > a {
    color: #ec8230;
}
}
button, input[type="button"], input[type="reset"], input[type="submit"], #infinite-handle span {
    background-color: #fb8102;
}

.entry-thumbnail,
.post-thumbnail {
	background: white;
}

.site-footer {
	text-transform: none;
}